@media print {

 .row {
     display: block;
 }
    .col-lg-4 {
        flex: none;
      
        max-width: 100% !important;
    }



    .col-lg-8 {
        flex: none !important;
        max-width: 100%!important;        
        max-width: 100%;
    }

    .collapse:not(.show) {
        display: block !important;
        
    }


    .tab-content>.tab-pane {
        display: block !important;
        
    }

    .tab-content .card-header h5 a {

        font-weight: bolder!important;
    }
    .tab-content {
        .title-1 {
            font-size: 1.5rem;
        }
    } 
   
}